.image {
  width: 280px;
  height: 398px;
  margin-bottom: 10px;

  border-radius: 5px;
  object-fit: cover;

  @media screen and (min-width: 720px) {
    width: 294px;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
  }
}

.title {
  margin: 0;

  text-transform: uppercase;
}
