.moviesList {
  margin-bottom: 40px;

  @media screen and (min-width: 720px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    margin-bottom: 50px;
  }
}

.moviesitem {
  width: 280px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-bottom: 10px;

  transform: scale(1);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  color: #fff;
  border-radius: 5px;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 8px -6px 16px -2px #8c8c8c;
  }

  @media screen and (min-width: 720px) {
    width: 294px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
  }
}
